*{
  padding: 0;
  margin: 0;

}

.input{
  padding: 5px;
  outline: none;
  width: 90%;
  margin: 10px 0;
}

.button{
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  padding: 8px;
  margin-right: 5px;
}
.btn-blue{
  background-color:rgb(78, 127, 232);
  color: white;
}
.btn-green{
  background-color:#00E57F;
  color: white;
}
.btn-red{
  background-color:#F33B3B;
  color: white;
}
.btn-normal{
  background-color:rgb(255, 255, 255);
  color: rgb(82, 82, 82);
}