.modalContainer{
    background-color: rgb(19, 42, 71);

    border-bottom: solid 1px #ccc;
    padding: 10px;
    margin: 0 auto;
}
.modalContainer .modalSubcontainer{
    width: 800px;
    margin: 0 auto;
}
.modalContainer .modalSubcontainer div{
    display: inline-block;
    vertical-align: middle;
}
.modal-panel-container{
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.modal-panel{
    width: 300px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}
.modal-panel p{
    padding: 5px 0;
}