.pelicula {
    display: inline-block;
    padding: 10px;
    margin: 1%;
    width: 300px;
    border-color: #D1D1D1;
    background: #E7E0E0;
    border-top-style: solid;
    border-right-style: double;
    border-bottom-style: solid;
    border-left-style: double;
    vertical-align: top;
}
.pelicula .image img{
    height: 330px;
}

.pelicula .title{
    font-weight: bold;
    font-size: 18px;
    height: 25px;
}

.pelicula .actions{
    width: 100%;
    border-top: solid 1px #bbb;
    padding: 5px 0;
    margin-top: 10px;
}

.pelicula .actions button{
    border: 0;
    border-radius: 3px;
    background-color:rgb(232, 78, 78);
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 100%;
}